<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/../../public/dashboard.css">
   <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="/../../public/script.js"></script>
</head>

<body>
   <nav class="sidenav">
      <a href="/dashboard">Home</a>
      <a href="/workoutActivity">Workout</a>
      <a href="/gymMember">GymMember</a>
      <a href="/activity">Activity</a>
      <a href="/Membership">Membership</a>
      <a href="/notice">Notice</a>
      <a href="/Logout">Logout</a>
   </nav>
   {{{body}}}
</body>

</html>